[ng:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}
body {
  *zoom: 1;
  width: auto;
  max-width: 800px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  direction: rtl;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #a9a9a9;
}
body:before,
body:after {
  content: '';
  display: table;
}
body:after {
  clear: both;
}
body .page {
  padding: 20px 50px;
  background-color: #d3d3d3;
  border-radius: 20px;
  min-height: 600px;
  border: 1px solid #000;
}
body .page .menu ul {
  padding: 10px 0;
}
body .page .menu ul li {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
  font-size: 20px;
}
body .page .menu ul li a {
  color: #7c7c7c;
  text-decoration: none;
}
body .page .menu ul li a:hover {
  color: #000;
}
